.pln {
  color: #2c2c2c;
}

/* string content */
.str {
  color: #b84;
}

/* a keyword */
.kwd {
  color: #2c2c2c;
  font-weight: bold;
}

/* a comment */
.com {
  color: #998;
  font-style: italic;
}

/* a type name */
.typ {
  color: #2238dd;
}

/* a literal value */
.lit {
  color: #099;
}

/* punctuation */
.pun {
  color: #2c2c2c;
}

/* lisp open bracket */
.opn {
  color: #000000;
}

/* lisp close bracket */
.clo {
  color: #000000;
}

/* a markup tag name */
.tag {
  color: #2238dd;
}

/* a markup attribute name */
.atn {
  color: #099;
}

/* a markup attribute value */
.atv {
  color: #2c2c2c;
}

/* a declaration */
.dec {
  color: #EF5050;
}

/* a variable name */
.var {
  color: #c82829;
}

/* a function name */
.fun {
  color: #4271ae;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
